.buttonLight {
    background-color: #1976d2 !important;
}

.buttonDark {
    background-color: #ff4400 !important;
}

.textDark {
    color: white;
}

.textLight {
    color: black;
}

.bgDark {
    background-color: #1a1616;
}

.bgLight {
    background-color: #efefef;
}

.roundedBorder {
    border-radius: 1vw;
}

/*This is for the left half of the bar*/
.sliderDark .bp5-slider-track :nth-child(2) {
    background-color: #ff4400 !important;
}

/*This is for the left half of the bar*/
.sliderLight .bp5-slider-track :nth-child(2) {
    background-color: #1976d2 !important;
}

/*This is for the right half of the bar*/
.sliderDark .bp5-slider-track :last-child {
    background-color: #c7c7c7 !important;
}

/*This is for the right half of the bar*/
.sliderLight .bp5-slider-track :last-child {
    background-color: #4b4b4b !important;
}

/*This is for the left half of the bar*/
.driveSliderDark .bp5-slider-track :nth-child(2) {
    background-color: #ff4400 !important;
}

/*This is for the left half of the bar*/
.driveSliderLight .bp5-slider-track :nth-child(2) {
    background-color: #1976d2 !important;
}

.textBoxLight {
    background-color: #c7c7c7 !important;
}

.textBoxDark {
    background-color: #4b4b4b !important;
}

.innerBotLight {
    background-color: black;
}

.innerBotDark {
    background-color: white;
}

.robotLight {
    background-color: white;
    border: 4px solid black;
}

.robotDark {
    background-color: black;
    border: 4px solid white;
}

.robotCollideLight {
    background-color: red;
    border: 4px solid black;
}

.robotCollideDark {
    background-color: purple;
    border: 4px solid white;
}

.colorSliderPos {
    width: 75%;
}